services:
  - type: web
    name: keycloak-dev
    env: docker
    dockerfilePath: ./Dockerfile
    plan: free
    healthCheckPath: /health
    envVars:
      - key: KEYCLOAK_ADMIN
        value: admin
      - key: KEYCLOAK_ADMIN_PASSWORD
        generateValue: true
      - key: KC_HOSTNAME_STRICT
        value: false
      - key: KC_PROXY
        value: edge
      - key: KC_HTTP_ENABLED
        value: true
